html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
  width: 100%;
}

article {
    background-color: orange;
}

footer {
    background-color: greenyellow;
}

#nav-container {
    text-decoration: none;
    background-color: coral;
    color: darkkhaki;
}


nav a:hover {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

ul {
    display: inline-block;
}

#mid-container {
    display: flex;
    height: 60%;    
}

aside.left {
    background-color: aquamarine;
    width: 20%;

}

aside.right {
    background-color: aquamarine;
    order: 1;
    width: 20%;
}

footer {
    left: 0;
    bottom: 0;
    height: 20%;
    width: 100%;

}